= render partial: 'new_comment', locals: { comment: (new_comment || current_task.comments.new) }
= render current_task.comments.ascending.preload(:owner)

:javascript
  hljs.highlightAll();
  window.comments.initAddNewComment('comment_content');

  $(document).on('click', '.media-comment a.edit-comment', function() {
    window.comments.clickEditComment(this);
    return false;
  });
  $(document).on('click', '.media-comment a.cancel-edit-mode', function() {
    window.comments.cancelEditMode(this);
    return false;
  });
