:javascript
  $('#task_task_review_ids').select2({});
  new EasyMDE({
    element: document.getElementById('task_description'),
    status: false,
    showIcons: ['code'],
    spellChecker: false,
    placeholder: "Type description here...",
    renderingConfig: {
      codeSyntaxHighlighting: true,
    }
  });

- if task.new_record? || task.in_processing?
  :javascript
    var editor = ace.edit("script-editor", { printMarginColumn: false });
    var RubyMode = ace.require("ace/mode/ruby").Mode;
    editor.setTheme("ace/theme/solarized_dark");
    editor.session.setMode(new RubyMode());
    editor.renderer.setPadding(15);
    editor.renderer.setShowPrintMargin(false);
    editor.getSession().on("change", function () {
      $("#main-script").val(editor.getValue());
    });

    $('#click2full').click(function() {
      $('#script-editor-container').toggleClass('fullscreen');
      return false;
    });

    $('#js-add-more-file').click(function() {
      AddMoreFile();
      return false;
    });

