:javascript
  $('#task_task_review_ids').select2({});
  new EasyMDE({
    element: document.getElementById('task_description'),
    status: false,
    showIcons: ['code'],
    placeholder: "Type description here...",
    renderingConfig: {
      codeSyntaxHighlighting: true,
    }
  });

  var editor = ace.edit("script-editor", { printMarginColumn: false, setPadding: 10 });
  var RubyMode = ace.require("ace/mode/ruby").Mode;
  editor.setTheme("ace/theme/solarized_dark");
  editor.session.setMode(new RubyMode());
  editor.getSession().on("change", function () {
    $("#main-script").val(editor.getValue());
  })
