.d-flex.flex-row-reverse.mt-2
  .ms-2
    %button.btn.quick-filter-btn{ type: 'button', 'data-target': '#order_by_recently_updated', class: params[:order_by_recently_updated] == '1' ? 'btn-dark' : 'btn-outline-dark'} Recently Updated
    = hidden_field_tag :order_by_recently_updated, params[:order_by_recently_updated]
  .m-0
    %button.btn.quick-filter-btn{ type: 'button', 'data-target': '#filter_only_my_tasks', class: params[:filter_only_my_tasks] == '1' ? 'btn-dark' : 'btn-outline-dark' } Only My Tasks
    = hidden_field_tag :filter_only_my_tasks, params[:filter_only_my_tasks]

:javascript
  $(document).ready(function() {
    $('.quick-filter-btn').on('click', function() {
      var isFilterActivatedInput = $($(this).attr('data-target'));
      var isFilterActivated = isFilterActivatedInput.val() == '1' ? '0' : '1';
      isFilterActivatedInput.val(isFilterActivated)
      $('#filter-form').submit();
    })
  })
