.d-flex.mt-2
  %button.btn.quick-filter-btn{ type: 'button', 'data-target': '#my_task' }
    - if params[:my_task] == '1'
      %i.bi.bi-check-square
    - else
      %i.bi.bi-square
    Only my tasks
    = hidden_field_tag :my_task, params[:my_task]
  %button.btn.quick-filter-btn{ type: 'button', 'data-target': '#recently_updated' }
    - if params[:recently_updated] == '1' || params[:recently_updated].blank?
      %i.bi.bi-sort-numeric-down-alt
    - else
      %i.bi.bi-sort-numeric-down
    Last updated
    = hidden_field_tag :recently_updated, params[:recently_updated]

:javascript
  $(document).ready(function() {
    $('.quick-filter-btn').on('click', function() {
      var isFilterActivatedInput = $($(this).attr('data-target'));
      var isFilterActivated = isFilterActivatedInput.val();
      isFilterActivated = isFilterActivated == '' ? '1' : isFilterActivated; // Default sort
      isFilterActivated = isFilterActivated == '1' ? '0' : '1';
      isFilterActivatedInput.val(isFilterActivated);
      $('#filter-form').submit();
    })
  })
