= re_card_content do
  %h5.section-title All checks
  %ul.list-unstyled.mt-3
    %li.mt-2.row
      .col
        .user-info
          = image_tag 'executions/robot.png', size: '20x20', class: 'bd-placeholder-img flex-shrink-0 me-2 rounded'
          %span Task status
      .col-3.text-end= re_badge_color(current_task.status)
    %li.mt-2.row
      .col
        .user-info
          = image_tag 'executions/robot.png', size: '20x20', class: 'bd-placeholder-img flex-shrink-0 me-2 rounded'
          %span Syntax
      .col-3.text-end
        - if current_task.syntax_status_good?
          %i.fs-5.bi.bi-check-lg.text-success
        - else
          %i.fs-5.bi.bi-exclamation-triangle.text-danger
