= re_card_content do
  %h5.section-title In processing
  = render partial: 'advanced_filter'
  %ul.list-unstyled
    - if @tasks.empty?
      %li
        %p.mt-4.fs-5.text-center.text-muted
          %i.bi.bi-journal-code.me-2
          Welcome to add new Task
    - else
      = render partial: 'task', collection: @tasks, locals: { comments_count_by_task: comments_count_by_task }

= re_render_paging(@tasks)
