.nav-link {
  font-size: 14px;
}

.fs-13, .form-label {
  font-size: 13px;
}

.section-title {
  font-size: 13px;
  font-weight: 500;
}

#reviewers {
  max-height: 150px;
  overflow-y: auto;

  input {
    display: none;
    &:checked + label:after {
      content: '✓';
      display: block;
      width: 20px;
      height: 20px;
      position: absolute;
      left: 0;
      top: 0;
    }

    &:checked + label {
      background: lightgray;
    }
  }

  label {
    position: relative;
    outline: none;
    user-select: none;
    width: 100%;
    font-size: 13px;
    padding: 4px 4px 4px 15px;
    cursor: pointer;
  }
}

.select2-container--default .select2-selection--multiple,
.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: 1px solid #cbcbcb !important;
}

#description-markdown {
  display: none;
}

#task-detail {
  width: 100%;
  position: relative;

  &.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;

    #script-editor {
      height: 100% !important;
      max-height: 100% !important;
    }
    a#click2detail {
      display: none;
    }

    a#click2full {
      i.bi-arrows-fullscreen {
        display: none;
      }
      i.bi-arrows-angle-contract {
        display: block;
      }
    }
  }

  #script-editor.collapsed {
    max-height: 300px;
  }
  a#click2detail {
    position: absolute;
    margin-top: -40px;
    margin-left: calc(50% - 100px);
    width: 200px;
    color: #000;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 30px;
    padding: 5px;
    text-align: center;
    font-size: 12px;
  }

  a {
    opacity: 0;
    transition: all 0.3s
  }

  &:hover { a { opacity: 1; } }
}

#script-editor-container {
  position: relative;
  padding-top: 15px;
  background-color: #002b36;
  border-radius: 5px;
  overflow-y: hidden;

  #click2full {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  &.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    #script-editor {
      height: 100%;
    }
  }
}

#script-editor {
  position: relative;
  width: 100%;
  height: 700px;
  font-size: 13px;
}

.user-info {
  span {
    font-size: 13px;
  }
}

.hidden {
  display: none;
}

small, .small {
  font-size: 10px !important;
}

.media-comment {
  position: relative;

  a.edit-comment {
    position: absolute;
    right: 10px;
    top: 7px;
  }

  &.editing {
    .edit-comment-form {
      display: block !important;
    }
    .review-comment-content {
      display: none !important;
    }
  }
}

.editor-toolbar {
  text-align: right;
  button {
    color: #808080;
  }
}

a {
  text-decoration: none;
}

#activities-section {
  ul {
    overflow-y: auto;
    max-height: 400px;
    box-sizing: border-box;
    li {
      width: 100%;
      .activitiy-time {
        .fs13px {
          font-size: 13px;
        }
      }
    }
  }
}

nav.execution-paging {
  margin-top: 30px;
  a.page-link {
    background-color: initial;
    border: none;
    color: #333;
    outline: none;
  }
  .disabled>.page-link, .page-link.disabled {
    background-color: initial;
  }
  .active>.page-link, .page-link.active {
    background-color: #0d6efd;
    color: #FFF;
    border-radius: 7px;
  }
}

hr.smoothly {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

ul li{
  &.task-is-rejected {
    background: asset-url('executions/rejected.png') no-repeat;
    background-position: calc(100% - 70px) center;
  }

  &.task-is-approved {
    background: asset-url('executions/approved.png') no-repeat;
    background-position: calc(100% - 70px) center;
  }
}

#insights_chart {
  width: 100%;
}

a#click2full {
  position: absolute;
  z-index: 10;
  top: 10px;
  right: 20px;
  color: #000;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 30px;
  padding: 5px 15px;
  text-align: center;
  font-size: 10px;

  i.bi-arrows-fullscreen {
    display: block;
  }
  i.bi-arrows-angle-contract {
    display: none;
  }
}

ul#task-logs {
  li {
    .click2download {
      opacity: 0.3;
    }
  }

  &:hover {
    li .click2download {
      opacity: 1;
    }
  }
}

.normal-text {
  font-size: 0.8em;
}

#description-html {
  max-height: 400px;
  overflow-y: auto;
}
